<nav>
    <nevbar class="nevbar">
        <h1>Workout Buddy </h1>
        <links class="links">
            <a href=""> Home </a>
            <a href=""> add workout</a>
        </links>
        
    </nevbar>
</nav>
